.container_wrap {margin-top: 100px;margin-bottom: 100px;}
.center_content {display: flex;align-items: center;flex-direction: column;}

/* 로그인 페이지 */
.login_form {width: 400px;}
.login_form input[type="text"],
.login_form input[type="password"] {width: 100%;}
.login_form input[type="password"] {margin-top:10px}
.login_i {display:flex;justify-content: center;}
.login_i a {padding:0 10px;position: relative;}
.login_i a + a:after {position: absolute;top:50%;left:0;transform: translateY(-50%);content:'';display: block;border-left:1px solid var(--color-type-gray-1);width: 1px;height: 10px;}
.info_box {border:1px solid var(--color-type-gray-1);background: var(--color-type-gray-bg);padding:20px 20px;border-radius: var(--border-rd);}
.info_txt {border-bottom: 1px solid var(--color-type-black);padding:1px 5px;vertical-align: middle;display: inline-block;margin: 0 0 5px;font-weight: bold;}

/* 회원가입 페이지 */
.join_form {width: 600px;}
.join_select li a {border-radius: var(--border-rd);border:1px solid var(--color-type-black);padding:20px;display: flex;align-items: center;transition: all 0.5s ease;}
.join_select li + li {margin-top:20px}
.join_select .img_box {width: 80px;height: 80px;border-radius: var(--border-rd);display: flex;flex-wrap: nowrap;align-items: flex-end;justify-content: center;flex-direction: row;margin-right: 40px;}
.join_select .img_box img {width: 100px;transition: all 0.5s ease;}
.join_select li:nth-child(2n) a {justify-content:flex-end;text-align: right;}
.join_select li:nth-child(2n) .img_box {margin-right: 0;margin-left: 40px;}
.join_select li:hover a {background: rgb(243, 217, 109);
	/* background: linear-gradient(20deg, rgba(243, 217, 109, 0) 0%, rgba(243, 217, 109, 1) 70%); */
}
.join_select li:hover .img_box img {filter:inherit;transform: scale(1.4);}
.join_stap {display: flex;justify-content:space-between;margin:0 auto;max-width: 600px;}
.join_stap li {width: 100px;height: 100px;padding: 0px 0;border-radius: 50px;background:var(--color-type-gray-bg);position: relative;text-align: center;border: 2px solid var(--color-type-gray-2);/* color: var(--color-type-gray-1); */display: flex;justify-content: center;align-items: center;transition: all 1s ease;}
.join_stap li + li::after {content: '';display: block;width: 200%;height: auto;position: absolute;top:50%;right: 100%;transform: translate(0,50%);border-top: 2px var(--color-type-gray-2) dashed;z-index: -1;}
.join_stap li.active {background:var(--color-main);color: var(--color-type-black);font-weight: bold;border-color:var(--color-type-black)}
.join_stap li.active::after {border-color: var(--color-type-black);}
.join_content {max-width: 800px;margin:0 auto;}
.join_agreement_wrap {border-radius: var(--border-rd);border:1px solid var(--color-type-gray-1);padding:20px;height: 200px;overflow: hidden;overflow-y: auto;}
.form_cell + .form_cell {margin-top: 20px;}
.form_cell label {margin-bottom: 10px;display: inline-block;}
.form_con {width: 100%;}
.form_con + .form_con {margin-top:10px}
.form_con input[type='text'],
.form_con input[type='password'] {width: 100%;}
.form_con input + input {margin-left: 10px;}
.form_email {display: flex;align-items: center;}
.form_email input[type="text"] {width: 30%;margin-right: 10px;}
.form_email .form_email select,
.form_email .selectric-wrapper {width: 70%;margin-left: 10px;}
.form_email_input {overflow: hidden;}

/*서비스 소개 신청서 */
.service_wrap {display: flex;}
.service_wrap .service_img {width: 50%;border:1px solid var(--color-type-gray-1);border-radius: var(--border-rd);padding: 40px;margin-right: 20px;}
.service_wrap .service_from {width: 50%;}
.service_agree_wrap {display: flex;align-items: center;border:1px solid var(--color-type-black);border-radius: var(--border-rd);padding:0 0 0 20px;position: relative;}
.service_agree_wrap label {margin-bottom: 0;}
.service_agree_wrap .select-type-1 {width: 100%;position:initial;}
.service_agree_box {padding: 10px;font-size: 12px;}

/* 약관 */
.agree_wrap h4 {font-size: var(--font-size-middle);}
.agree_wrap h5 {margin-top:30px;margin-bottom: 10px;display: block;}
.agree_ul {margin:10px 0;}
.agree_ul li {text-indent: -10px;padding-left: 10px;}


/* 
	 마이페이지 
*/
/*  마이페이지 메인 */
.maypage_wrap {min-height: 100vh;position: relative;}
.maypage_wrap::after {content: '';display: block;clear: both;}
.maypage_wrap .mypage_left {width: 300px;border-right: 1px solid var(--color-type-gray-2);position: sticky;top:80px;height:calc(100vh - 80px);float: left;padding:50px 20px 50px 0;display: flex;justify-content: space-between;flex-direction:column}
.maypage_wrap .mypage_content {float: left;width: calc(100% - 300px);padding: 50px 0 100px 50px;}
.maypage_wrap .mi_tit {position: relative;padding-left: 10px;margin-bottom: 10px;}
.maypage_wrap .mi_tit:after {content: '';border-left: 5px solid var(--color-main);display: block;position: absolute;top:50%;left: 0;width: 0px;height: 15px;transform: translate(0,-50%);z-index: 1;}
.maypage_wrap .mypage_left .mypage_user_info h2 {display: inline-block;font-size: var(--font-size-big);}
.maypage_wrap .mypage_left .mypage_user_info span {display: inline-block;margin-left: 10px;border:2px solid var(--color-type-black);padding:2px 10px;border-radius: var(--border-rd);font-size: 12px;vertical-align: middle;line-height: 20px;background-color: var(--color-main);}
.my_home {display: flex;vertical-align: middle;display: inline-block;margin-top:-4px;margin-right:5px;}
.my_home img {width: 26px;vertical-align: middle;display: inline-block;}
.mypage_menu {}
.mypage_menu > ul {padding:20px 0;}
.mypage_menu > ul + ul {border-top:1px solid var(--color-type-gray-1);}
.mypage_menu li {opacity: 0.6;}
.mypage_menu li a {padding:10px 0;display: flex;align-items: center;font-size: var(--font-size-middle);}
.mypage_menu li a img {width: 20px;margin-right: 10px;}
.mypage_menu li:hover,
.mypage_menu li.active {opacity: 1;font-weight: bold;}
.mypage_pro {background: var(--color-type-gray-bg);border-radius: var(--border-rd);padding:20px;}
.mypage_pro li {display:flex;justify-content: space-between;}
.mypage_pro li + li {margin-top: 10px;}
.mypage_pro li .num {color: var(--color-err);font-weight: bold;}
.mypage_pro li .num:before {content:'...';display: inline-block;margin-right: 5px;color: var(--color-type-black);}

.maypage_wrap .i_yn {}
.maypage_wrap .i_yn.y {color:var(--color-err)}
.maypage_wrap .i_yn.x {color:var(--color-type-gray-1)}
.maypage_wrap .my_service {display: flex;}
.maypage_wrap .my_service > div {width: 50%;}
.maypage_wrap .my_service > div + div {margin-left:20px}
.maypage_wrap .my_service h5 {margin-bottom: 10px;}
.maypage_wrap .my_service p {font-size: 12px;}
.maypage_wrap .my_service label {display: block;padding: 20px;border:2px solid var(--color-type-gray-1);border-radius: var(--border-rd);background: var(--color-type-gray-bg);}
.maypage_wrap .my_service input[type="radio"] + label {opacity: 0.5;}
.maypage_wrap .my_service input[type="radio"]:checked + label {opacity: 1;}
.maypage_wrap .my_service .ck {width: 40px;height: 40px;background: url('/resource/images/icon/icon_radio_b.png') no-repeat;display: block;background-size: 100%;float: right;opacity: 0.2;}
.maypage_wrap .my_service input[type="radio"]:checked +label .ck {opacity: 1;}
.i_down {width: 20px;}
.i_down img {vertical-align: middle;}
.search_wrap {display: flex;}
.search_wrap > * + * {margin-left: 10px;}
.search_input {position: relative;display: inline-block;width: 100%;}
.search_input input[type="text"]{padding-right: 30px;width: 100%;}
.search_input button {position: absolute;right:10px;top: 50%;width: 20px;transform: translate(0,-50%);}

.i_status::before {content:'●';display: inline-block;margin-right: 5px;margin-top:2px}
.i_status {border:2px solid var(--color-type-black);padding:0 10px;border-radius: 50px;font-size: var(--font-size-normal);display: inline-block;font-weight: bold;}
.i_status.stap1 {border-color: #08ab08;color: #08ab08;}
.i_status.stap2 {}
.i_status.temp {border-color: var(--color-type-gray-1);color: var(--color-type-gray-1);}
.i_status.result {border-color: var(--color-err);color: var(--color-err);}
/*  마이페이지 입사지원자 추가 */
.my_user_top {display: flex;justify-content: space-between;align-items: center;}
.my_user_top .left {display: flex;align-items: center;}
.my_user_top .right {display: flex;}
.my_user_top .right span {display: inline-block;padding:0 10px;margin:0 5px;position: relative;}
.my_user_top .right span:after {content:'';display: inline-block;width: 0;height: 20px;border-right: 1px solid var(--color-type-gray-1);position: absolute;top:50%;right: 0;transform: translate(0,-50%);}
.my_user_top [class*="btn-"] {padding:0px 10px;line-height: 28px;height: 28px;margin-left: 5px;}
.application_wrap input[type="text"]{width: 80%;}
.application_btn_wrap {display: flex;justify-content: center;}
.application_btn_wrap  [class*="btn-"] {width: 100px;}
.i_box .i {width: 30px;height: auto;}
.reference_top {display: flex;justify-content: space-between;align-items: center;}
.reference_wrap {border-radius: var(--border-rd);border: 1px solid var(--color-type-gray-1);min-height: 200px;}
.my-sec {padding-top:100px;margin-top:100px;border-top:1px solid var(--color-type-gray-1)}
.connect {padding:0;}
.connect > p {padding:10px;}
.connect > p + p {border-top:1px solid var(--color-type-gray-1);}
/* 마이페이지 서비스  */
.my_service_pick {display: flex;}
.my_service_pick > div {width: 50%;border:1px solid var(--color-type-gray-1);border-radius: var(--border-rd);padding:20px;display: flex;flex-direction:column;justify-content: space-between;}
.my_service_pick > div + div {margin-left: 20px;}
.my_service_pick > div .top {margin-bottom: 20px;}
.my_service_pick > div .top h5 {font-size:var(--font-size-big);margin-bottom:20px;}
.my_service_pick ul li label {border:1px solid var(--color-type-gray-1);border-radius: var(--border-rd);padding:20px;margin:10px 0;display: block;opacity: 0.8;background-color: var(--color-type-gray-bg);}
.my_service_pick ul li label:hover {opacity: 1;}
.my_service_pick ul li label .ck {width: 40px;height: 40px;background: url('../images/icon/icon_radio_b.png') no-repeat;display: block;background-size: 100%;float: right;opacity: 0.2;}
.my_service_pick ul li label:hover .ck {opacity: 0.5;}
.my_service_pick ul li input[type='radio']:checked + label {border-color: var(--color-type-black);opacity: 1;}
.my_service_pick ul li input[type='radio']:checked+label .ck {opacity: 1;}
.my_service_pick ul li .num {display: block;color: #08ab08;font-weight: bold;}
.my_service_pick ul li .price {font-size: var(--font-size-big);font-weight: bold;}
.my_service_pick ul li i {float: right;border: 1px solid var(--color-type-gray-1);}
.my_service_pick .hard ul li .num {display: block;color: var(--color-type-black);font-weight: bold;}

/* 마이페이지 서비스 구매 */
.my_service_buy {max-width: 600px;margin: 0 auto;}

/*  */
.box {border:1px solid var(--color-type-gray-1);border-radius: var(--border-rd);padding:20px;}
.form_date input[type="date"]{width: 40%;}
.form_date span {margin:10px;}
